<div class="card">
  <div class="card-header">Rechercher un utlisateur</div>

  <div class="card-body">
    <div class="input-group mb-3">
      <input
        [(ngModel)]="searchText"
        type="text"
        class="form-control"
        placeholder="taper un mot cle"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">List des stagiaires</div>

  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">username</th>
          <th scope="col">role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataU of List | filter: searchText">
          <td>{{ dataU.username }}</td>
          <td>{{ dataU.roles }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
