<body>
  <div class="card">
    <div class="card-header">Rechercher des Filieres</div>

    <div class="card-body">
      <div class="input-group mb-3">
        <input
          [(ngModel)]="searchText"
          type="text"
          class="form-control"
          placeholder="taper un mot cle"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
      <select
        [(ngModel)]="searchText"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="" disabled selected hidden>Rechercher Les Niveau</option>
        <option value="TS">TS</option>
        <option value="T">T</option>
        <option value="Q">Q</option>
        <option value="Licence">Licence</option>
        <option value="Master">Master</option>
      </select>
      <a
        *ngIf="authservices.hasRole('ADMIN')"
        [routerLink]="['/filieres/AddFiliere']"
        class="link-primary"
        ><mat-icon
          aria-hidden="false"
          class="add"
          aria-label="Example home icon"
          fontIcon="add"
        ></mat-icon>

        Nouveau filiere</a
      >
    </div>
  </div>

  <div class="card" *ngIf="List.length > 0">
    <div class="card-header">List des stagiaires</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nom de la filirere</th>
            <th scope="col">niveau</th>
            <th scope="col" *ngIf="authservices.hasRole('ADMIN')">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let data of List
                | filter: searchText
                | paginate: { itemsPerPage: parePage, currentPage: p }
            "
          >
            <th>{{ data.id_Filiere }}</th>
            <td>{{ data.filiere }}</td>
            <td>{{ data.niveau }}</td>
            <td class="btns" *ngIf="authservices.hasRole('ADMIN')">
              <a [routerLink]="['/filieres/edit/' + data.id_Filiere]">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="update"
                ></mat-icon>
              </a>

              <a (click)="DeleteFiliere(data.id_Filiere)">
                <mat-icon
                  aria-hidden="false"
                  class="delete"
                  aria-label="Example home icon"
                  fontIcon="delete"
                ></mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      class="myPagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>

  <div *ngIf="List.length == 0" class="alert alert-secondary" role="alert">
    Dosen't exist any stagiaire pour l'instant
  </div>
</body>

<app-footer></app-footer>
