.btns{
    display: flex;
    padding: 12px;
    gap: 12px;
}

td img{
    width: 30px;
}

button{
    border: none;
    background-color: white;
}

table{
    /* width: 75%;
    margin-left: 15%;
    margin-top: 12px; */
}


.panel{
    width: 75%;
    margin-left: 15%;
    margin-top: 12px;
}

.panel-body{
    display: flex;
}

.card{
    width: 75%;
    margin-left: 15%;
    margin-top: 12px;
    margin-bottom: 20px;
}


.form-select{
    width: 30%;
    height: 40px;
}

.input-group{
    width: 36%;
    height: 40px;

}

.btn{
    height: 40px;
    margin-left: 20px;
}

.card-body{
    display: flex;
    gap: 30px;
}

.link-primary{
    text-decoration: none;
    margin-top: 8px;
}

svg{
    cursor: pointer;
}


.alert {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 12px;
  }

  th{
    text-transform: uppercase;
  }