<div class="card">
    <div class="card-header">Add  stagiaire</div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nom</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le nom"
          />
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">Prenom</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le Prenom"
          />
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">Nom</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le nom"
          />
        </div>
  
        <div class="form-group">
          <label for="">Filere</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Les Filieres</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Image</label>
          <input class="form-control" type="file" id="myFile" name="filename" />
        </div>
        <button type="button" class="btn btn-info">Enregistrer</button>
      </form>
    </div>
  </div>
  