<div class="card">
    <div class="card-header">Add  stagiaire</div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">id</label>
          <input
            type="number"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le nom"
            name="id"
            [(ngModel)]="stagiaire.id"
          />
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">nom</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le Prenom"
            name="nom"
            [(ngModel)]="stagiaire.nom"

          />
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">Prenom</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="le nom"
            name="prenom"
            [(ngModel)]="stagiaire.prenom"

          />
        </div>
  
        <div class="form-group">
          <label for="">Filere</label>
          <select class="form-select"             [(ngModel)]="stagiaire.filiere"
          name="filiere" aria-label="Default select example">
            <option selected>Les Filieres</option>
            <option value="1">TSDI</option>
            <option value="2">TRI</option>
            <option value="3">TSGE</option>
            <option value="3">MASTER</option>
            <option value="3">LICENCE</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Image</label>
          <input   [(ngModel)]="stagiaire.photo"  name="photo" class="form-control" type="file" id="myFile" name="filename" />
        </div>
        <button (click)="Post()" type="button" class="btn btn-light">Enregistrer</button>
      </form>
    </div>
  </div>
  