<div class="card">
  <div class="card-header">Add stagiaire</div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">id</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="id"
          [(ngModel)]="stagiaire.id"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">nom</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le Prenom"
          name="nom"
          [(ngModel)]="stagiaire.nom"
          required
          ngModel
          #nom="ngModel"
          (change)="log(nom)"
          minlength="4"
          />
      </div>
      <div *ngIf="nom.touched && nom.invalid" class="alert alert-danger" role="alert">
        <!-- <div *ngIf="nom.errors.required">Ce champ est obligatoire</div>         -->
      ce champ est obligatoire  
      </div>

                <!-- <div *ngIf="nom.errors.minlength">il faut ecrire au moins 3 charachters</div> -->


      
      

      <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="prenom"
          [(ngModel)]="stagiaire.prenom"
        />
      </div>

      <div class="form-group">
        <label for="">Filere</label>
        <select
          class="form-select"
          [(ngModel)]="stagiaire.filiere"
          name="filiere"
          aria-label="Default select example"
        >
          <option selected>Les Filieres</option>
          <option value="TSDI">TSDI</option>
          <option value="TRI">TRI</option>
          <option value="TSGE">TSGE</option>
          <option value="MASTER">MASTER</option>
          <option value="LICENCE">LICENCE</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Image</label>
        <input
          [(ngModel)]="stagiaire.photo"
          name="photo"
          class="form-control"
          type="file"
          id="myFile"
        />
      </div>
      <button (click)="PostSta()" type="button" class="btn btn-light">
        Enregistrer
      </button>
    </form>
  </div>
</div>
