.card{
    width: 100%;
    text-align: center;
}

.container{
    display: grid;
    margin-top: 20px;
    place-items: center;
    gap: 40px;
    color: white;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  }

  .card img{
    width: 20%;
    margin: 0 auto;
    display: block;
  }

  .card-text{
    color: black;
  }

  .card-title{
    text-align: center;
    color: gray;
    font-size: 23px;
    padding-top: 15px;
  }