<div class="container">
    <div class="card" style="width: 33rem;">
      <h5 class="card-title">Students<span class="badge rounded-pill text-bg-primary ms-2">{{studentsN}}</span></h5>
        <img class="card-img-top" src="../../assets/st1.png" alt="Card image cap">
        <div class="card-body">
          <a  (click)="event()" class="btn btn-primary">Go to see students</a>
        </div>
      </div>
    
    
      <div class="card" style="width: 33rem;">
        <h5 class="card-title">Niveau<span class="badge rounded-pill text-bg-primary ms-2">{{niveauStudentsN}}</span></h5>
        <img class="card-img-top" src="../../assets/niveau.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#"  (click)="event1()" class="btn btn-primary">Go to see all Niveau</a>
        </div>
      </div>


      <div class="card" style="width: 33rem;">
        <h5 class="card-title">Filieres<span class="badge rounded-pill text-bg-primary ms-2">{{filieresN}}</span></h5>
        <img class="card-img-top" src="../../assets/filieres.png" alt="Card image cap">
        <div class="card-body">
          <a href="#"  (click)="event2()" class="btn btn-primary">Go to see all Filieres</a>
        </div>
      </div>



      <div class="card" style="width: 33rem;">
        <h5 class="card-title">users<span class="badge rounded-pill text-bg-primary ms-2">{{usersN}}</span></h5>
        <img class="card-img-top" src="../../assets/users.png" alt="Card image cap">
        <div class="card-body">
          <a href=""  (click)="event3()" class="btn btn-primary">Go to see all users</a>
        </div>
      </div>
</div>