<div class="container">
    <div class="card" style="width: 33rem;">
      <h5 class="card-title">Students<span class="badge rounded-pill text-bg-primary ms-2">{{total}}</span></h5>
        <img class="card-img-top" src="../../assets/images.png" alt="Card image cap">
        <div   class="card-body">
          <a  (click)="event()" class="btn btn-primary">Voir toutes les stagiaires</a>
        </div>
      </div>
    
    
      <div class="card" style="width: 33rem;">
        <h5 class="card-title">Niveau<span class="badge rounded-pill text-bg-primary ms-2">{{niveauStudentsN}}</span></h5>
        <img class="card-img-top" src="../../assets/niveau.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#"  (click)="event1()" class="btn btn-primary">Voir toutes les niveau</a>
        </div>
      </div>


      <div class="card" style="width: 33rem;">
        <h5 class="card-title">Filieres<span class="badge rounded-pill text-bg-primary ms-2">{{totalF}}</span></h5>
        <img class="card-img-top" src="../../assets/books.png" alt="Card image cap">
        <div class="card-body">
          <a href="#"  (click)="event2()" class="btn btn-primary">Voir toutes les filieres</a>
        </div>
      </div>



      <div class="card" style="width: 33rem;">
        <h5 class="card-title">users<span class="badge rounded-pill text-bg-primary ms-2">{{usersN}}</span></h5>
        <img class="card-img-top" src="../../assets/users.png" alt="Card image cap">
        <div class="card-body">
          <a href=""  (click)="event3()" class="btn btn-primary">voir toutes les utlisateurs</a>
        </div>
      </div>
</div>