<div class="container">
  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Stagiaires<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>

    <img
      class="card-img-top"
      src="../../assets/images.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          matBadge="{{ total }}"
          class="btn btn-primary"
          (click)="event()"
          matBadgeSize="large"
        >
          Voir toutes les stagiaires</span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Niveau<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/niveau.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          matBadge="{{ niveauStudentsN }}"
          (click)="event1()"
          class="btn btn-primary"
          (click)="event()"
          matBadgeSize="large"
        >
          Voir toutes les Niveau</span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Filieres<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/books.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          matBadge="{{ totalF }}"
          (click)="event2()"
          class="btn btn-primary"
          matBadgeSize="large"
        >
          Voir toutes les Filieres</span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      users<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/users.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          matBadge="{{ totalUser }}"
          (click)="event3()"
          class="btn btn-primary"
          matBadgeSize="large"
        >
          voir toutes les utlisateurs</span
        >
      </p>
    </div>
  </div>
</div>
