<body>
  <div class="card">
    <div class="card-header">Rechercher des stagiaires</div>

    <div class="card-body">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="searchText"
          placeholder="taper un mots-clés"
        />
      </div>

      <a *ngIf="authservices.hasRole('ADMIN')" 
      [routerLink]="['/stagiaire/AddStagiaire']"

       class="link-primary"
        >

        <mat-icon aria-hidden="false" class="add" aria-label="Example home icon" fontIcon="add"></mat-icon>
        Nouveau stagiaire</a
      >
    </div>
  </div>

  <div class="card" *ngIf="List.length > 0">
    <div class="card-header">List des stagiaires</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">filiere</th>
            <th scope="col">photo</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of List | filter: searchText | paginate: { itemsPerPage: parePage, currentPage: p }
          ">
            <td>{{ user.id }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.filiere.id_Filiere }}</td>
            <td><img src="{{ user.photo }}" alt="image" /></td>
            <td class="btns">
              <a *ngIf="authservices.hasRole('ADMIN')" [routerLink]="['/stagiaire/edit/' + user.id]">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="update"></mat-icon>

              </a>

              <a *ngIf="authservices.hasRole('ADMIN')" (click)="DeleteStagiaire(user.id)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>

              </a>
              
            </td>
          </tr>
        </tbody>

      </table>

    </div>
    <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>

  </div>


  <div *ngIf="List.length == 0" class="alert alert-secondary" role="alert">
    Dosen't exist any stagiaire pour l'instant
  </div>

</body>

<app-footer></app-footer>
