.btns{
    display: flex;
    padding: 12px;
    gap: 12px;
}

td img{
    width: 30px;
}

button{
    border: none;
    background-color: white;
}



.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.panel{
    width: 75%;
    margin-left: 15%;
    margin-top: 12px;
}

.panel-body{
    display: flex;
}

.card{
    width: 75%;
    margin-left: 15%;
    margin-top: 12px;
    margin-bottom: 20px;
}



.input-group{
    width: 36%;
    height: 40px;
}

.btn{
    height: 40px;
    margin-left: 20px;
}

.card-body{
    display: flex;
    gap: 30px;
}

.link-primary{
    text-decoration: none;
    margin-top: 8px;
}

.alert {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 12px;
  }

  svg{
    cursor: pointer;

  }

  label{
    padding-top: 8px;
  }
  

  th{
    text-transform: uppercase;
  }
 
  .input{
    width:200px;
    height: 40px;
}

input{
    width: 320px;
    border-radius: 12px;
    border: 1px solid gray;
    padding-left: 12px;
}

a{
    text-decoration: none;
}