<!-- {{userFormGroup.value | json}} -->
<!-- <div class="text-danger" *ngIf="eroorMessage">{{eroorMessage}}</div> -->
<div class="alert alert-secondary" *ngIf="eroorMessage" role="alert">
  {{eroorMessage}}
</div>
<form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <h3>Logn page</h3>
      <input type="text" id="form2Example1" class="form-control" formControlName="username" />
      <label class="form-label"  for="form2Example1">Usernanme</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" formControlName="password"/>
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
  
    <!-- Submit button -->
    <button type="button" (click)="  handleLogin()" class="btn btn-primary btn-block mb-4">Sign in</button>
  
    
  </form>