<div class="card">
  <div class="card-header">editer stagiaire</div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">id</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="id"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">nom</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le Prenom"
          name="nom"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="prenom"
        />
      </div>

      <div class="form-group">
        <label for="">Filere</label>
        <select
          class="form-select"
          name="filiere"
          aria-label="Default select example"
        >
          <option selected>Les Filieres</option>
          <option value="TSDI">TSDI</option>
          <option value="TRI">TRI</option>
          <option value="TSGE">TSGE</option>
          <option value="MASTER">MASTER</option>
          <option value="LICENCE">LICENCE</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Image</label>
        <input
          name="photo"
          class="form-control"
          type="file"
          id="myFile"
        />
      </div>
      <button routerLink="" (click)="PutMethode()"  type="button" class="btn btn-light">
        Enregistrer
      </button>
    </form>
  </div>
</div>
